<table style="width: 100%; border-top-color: black; border-top-width: 1px">
    <tr>
        <td style="width: 33%">{DATE j-m-Y}</td>
        <td style="width: 33%; text-align: center">{PAGENO}/{nbpg}</td>
        <td style="width: 33%; text-align: right;">My document</td>
    </tr>
</table>